/* Vellum Style */

/* main tags */

body
{
    background: rgb(250,234,183) url("../images/vellum.jpg");
    color: (0,0,0);
    font-family: "Trebuchet MS", Trebuchet, "Lucida Sans", Verdana, Arial, Helvetica, Helvet, sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.ahem
{
  display: none;
}

abbr, acronym
{
    cursor: help;
    font-weight: bold;
}

a, a:visited, a:active, span.current
{
    background-color: inherit;
    color: rgb(102,0,0);
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    background-color: inherit;
    color: rgb(120,105,55);
    border-bottom: 1px solid rgb(120,105,55);
    text-decoration: none;
}

/* pagehead :: the top section of the page, including the image banner */

#pagehead
{
    font-family: Georgia, Palatino, "Times New Roman", "New York", Times, serif;
    background-color: rgb(186,170,118);
    color: inherit;
    height: 56px;
    padding: 5px 0px 5px 15px;
    white-space: nowrap;
}

#pagehead h1
{
    font-family: Morpheus, Georgia, Palatino, "Times New Roman", "New York", Times, serif;
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#pagehead p
{
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* pagemenu :: a simple single line menubar */

#pagemenu
{
    background-image: url("../images/satin-menubar.png");
    text-align: left;
    height: 23px;
    white-space : nowrap;
}

#pagemenu ul
{
    list-style: none;
    padding: 0;
    margin: 0px 235px 0px 10px;
}

#pagemenu ul li
{
    display: inline;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
}

#pagemenu a
{
    font-family: Arial, Helvetica, Helvet, Geneva, "Lucida Sans", sans-serif;
    font-size: 11px;
    background-color: inherit;
    color: rgb(102,0,0);
    padding: 5px 5px 2px 5px;
    border-bottom-width: 0px;
    text-decoration: none;
}

#pagemenu a:hover
{
    background-color: rgb(145,129,77);
    color: rgb(250,234,183);
}

#pagemenu a:active
{
    background-color: rgb(250,234,183);
    color: rgb(145,129,77);
}

/* pagebody :: main content area of the page */

#pagebody
{
    font-family: "Trebuchet MS", Trebuchet, "Lucida Sans", Verdana, Arial, Helvetica, Helvet, sans-serif;
    margin-left: 15px;
    margin-right: 219px;
    voice-family: "\"}\"";
    voice-family: inherit;
    margin-right: 221px;
}
    html>body #centercontent
{
    margin-right: 221px;
}

#pagebody h1
{
    margin-top: 0px;
    font-size: 130%;
}

#pagebody h2
{
    font-size: 116%;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: 1px solid rgb(145,129,77);
}

#pagebody h2 a
{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0px;
}

#pagebody h3
{
    font-size: 104%;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    border-bottom: 1px dotted rgb(205,190,138);
}

#pagebody h3 a
{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0px;
}

#pagebody h4
{
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0px;
    margin-top: 0px;
}

#pagebody h5
{
    font-size: 96%;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

#pagebody h6
{
    font-size: 92%;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

#pagebody p
{
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 6px;
    padding-top: 6px;
    padding-left: 0px;
    padding-bottom: 6px;
    line-height: 150%;
}

#pagebody li
{
    font-size: 100%;
    margin-top: 0px;
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 0px;
    line-height: 150%;
}

#pagebody .published
{
    background-color: rgb(145,129,77);
    color: rgb(255,255,255);
    font-size: 85%;
    float: right;
    margin-left: 5px;
    padding: 1px 5px 1px 5px;
    -moz-border-radius: 0px 0px 4px 4px;
    border: 2px solid rgb(145,129,77);
}

.newslink a, .newslink a:visited, .newslink a:active
{
    background-color: inherit;
    color: rgb(102,0,0);
    font-weight: bold;
    font-style: normal;
    border-bottom: 1px solid rgb(51,0,0);
    text-decoration: none;
}

.newslink a:hover
{
    background-color: inherit;
    color: rgb(120,105,55);
    border-bottom: 1px solid rgb(120,105,55);
    text-decoration: none;
}

/* pagebar :: bar on right side of page */

#pagebar
{
    font-family: "Trebuchet MS", Trebuchet, "Lucida Sans", Arial, Verdana, Geneva, Helvetica, Helvet, sans-serif;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 200px;
    font-size: 90%;
}

#pagebar h1
{
    font-size: 116%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-top: 1px dotted rgb(205,190,138);
}

#pagebar h2
{
    font-size: 112%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-top: 1px dotted rgb(205,190,138);
}

#pagebar h3
{
    font-size: 108%;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

#pagebar h4
{
    font-size: 104%;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

#pagebar h5
{
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#pagebar h6
{
    font-size: 96%;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#pagebar img
{
    float: right;
    margin: 2px 8px 8px 0px;
    padding: 0px;
    border: 1px solid rgb(120,105,55);
}

#pagebar p
{
    font-size: 85%;
    margin-top: 0px;
    margin-bottom: 6px;
}

#pagebar a
{
    background-color: inherit;
    color: rgb(120,105,55);
    border-bottom-width: 0;
    text-decoration: none;
}


#noborder img
{
    float: right;
    margin: 2px 8px 8px 0px;
    padding: 0px;
    border: none;
}

/* tabmenu :: a simple tabbed menubar */

#tabmenu
{
    position: absolute;
    top: 100px;
    z-index: 100;
}

#tabmenu ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    font-family: "Lucida Sans", Arial, Verdana, Geneva, "Trebuchet MS", Trebuchet, Helvetica, Helvet, sans-serif;
    font-size: 12px;
    font-weight: normal;
    cursor: default !important;
    z-index: 100;
}

#tabmenu ul li
{
    color: rgb(51,51,51);
    display: inline;
    margin: 0px;
    padding: 0px;
    line-height: 23px;
    z-index: 100;
}

#tabmenu a, #tabmenu a:link, #tabmenu a:visited
{
    background-color: rgb(186,170,118);
    color: rgb(51,51,51);
    border: 1px solid rgb(120,105,55);
    -moz-border-radius: 4px 4px 0px 0px;
    padding: 2px 5px 1px 5px;
    z-index: 100;
}

#tabmenu span.current
{
    background-color: rgb(250,234,183);
    color: rgb(51,51,51);
    border: 1px solid rgb(120,105,55);
    border-bottom-width: 0 !important;
    -moz-border-radius: 4px 4px 0px 0px;
    padding: 2px 5px 2px 5px;
    z-index: 100;
}

#tabmenu a:hover
{
    background-color: rgb(145,129,77);
    color: rgb(250,234,183);
    border: 1px solid rgb(145,129,77);
    border-top: 2px solid rgb(145,129,77);
    border-bottom-width: 0 !important;
    z-index: 100;
}

/*
#tabmenu a:active
{
    background-color: rgb(250,234,183);
    color: rgb(0,0,0);
    padding: 3px 5px 1px 5px;
    border-bottom-width: 0 !important;
    z-index: 100;
}
*/

/* assorted */

.content
{
    background-color: rgb(250,234,183);
    color: inherit;
    border: 1px solid rgb(120,105,55);
    position: relative;
    top: 30px;
    width: 96%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    -moz-border-radius: 0px 4px 4px 4px;
    z-index: 80;
}

#clear
{
    clear:both;
}


#pagebody div.downloadbar {position: relative; border-top: 1px solid #008000; background: #0a0 url("http://pcgen.sourceforge.net/images/pcgen_dl_bg.png") repeat-x bottom left; font-size: 82.3%; color: #456; padding: .3em .5em 1.7em .5em; margin: 0 0 -.5em 1em; width: 17em;}
#pagebody div.downloadbar a {color: #fff !important; padding: 0 40px 0 0 !important}
#pagebody div.downloadbar a:hover {color: #efe !important;}
#pagebody div.downloadbar small
{
        color: #fff;
        padding: 20px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: url("http://pcgen.sourceforge.net/images/pcgen_dl_arrow.png")  bottom left no-repeat;
}