# Editor files
.idea
pcgen/.idea
*.editable.lst
*.swp
.classpath
.project

# Java files
*.class

# Package Files #
*.jar
*.war
*.ear

# Generate files #
pcgen/doc/api
/ide-bin/
/.settings/

# Gradle files
**/.gradle
