<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>BBEditDocumentType</key>
<string>CodelessLanguageModule</string>
<key>BBLMColorsSyntax</key> <true/>
<key>BBLMIsCaseSensitive</key> <true/>
<key>BBLMKeywordList</key>
<array>
<string>ABB</string>
<string>ABILITIES</string>
<string>ABILITY</string>
<string>ABILITYCATEGORY</string>
<string>ABILITYPOOL</string>
<string>AC</string>
<string>ACABBREV</string>
<string>ACCHECK</string>
<string>ACHECK</string>
<string>ACNAME</string>
<string>ACTYPE</string>
<string>ACVALUE</string>
<string>ADD</string>
<string>ADDDOMAINS</string>
<string>ADDLEVEL</string>
<string>ADDPROF</string>
<string>ADDSPELLLEVEL</string>
<string>AGE</string>
<string>AGEDIEROLL</string>
<string>AGESET</string>
<string>ALHPABBREV</string>
<string>ALIGN</string>
<string>ALIGNALLOW</string>
<string>ALIGNMENT</string>
<string>ALIGNMENTNAME</string>
<string>ALL</string>
<string>ALLOWAUTORESIZE</string>
<string>ALLOWBASECLASS</string>
<string>ALLOWEDMODES</string>
<string>ALTCRITICAL</string>
<string>ALTCRITMULT</string>
<string>ALTCRITRANGE</string>
<string>ALTDAMAGE</string>
<string>ALTEQMOD</string>
<string>ALTHP</string>
<string>ALTHPABBREV</string>
<string>ALTHPNAME</string>
<string>ALTTYPE</string>
<string>ANY</string>
<string>ANYPC</string>
<string>APPLIEDTO</string>
<string>APPLY</string>
<string>ARMOR</string>
<string>ARMORPROF</string>
<string>ARMORTYPE</string>
<string>ASPECT</string>
<string>ASSIGNTOALL</string>
<string>ATTACKCYCLE</string>
<string>ATTACKS</string>
<string>ATWILL</string>
<string>AUTO</string>
<string>AUTOMATIC</string>
<string>AUTOSPELLS</string>
<string>BAB</string>
<string>BABATTCYC</string>
<string>BABMAXATT</string>
<string>BABMAXLVL</string>
<string>BABMINVAL</string>
<string>Base</string>
<string>BASE</string>
<string>BASEAGE</string>
<string>BASEAGEADD</string>
<string>BASECOST</string>
<string>BASEDICE</string>
<string>BASEHT</string>
<string>BASEITEM</string>
<string>BASEPOWERPOINTS</string>
<string>BASEQTY</string>
<string>BASESPELLSTAT</string>
<string>BASESTATSCORE</string>
<string>BASEWT</string>
<string>BIOSET</string>
<string>BIRTHPLACE</string>
<string>BONUS_ACFLAT</string>
<string>BONUS_ACTOUCH</string>
<string>BONUS</string>
<string>BONUSFEATLEVELSTARTINTERVAL</string>
<string>BONUSFEATS</string>
<string>BONUSPOWERPOINTS</string>
<string>BONUSSKILLPOINTS</string>
<string>BONUSSPELLLEVEL</string>
<string>BONUSSPELLSTAT</string>
<string>BONUSSTACKS</string>
<string>BONUSSTATLEVELSTARTINTERVAL</string>
<string>BOOK</string>
<string>BOOKTYPE</string>
<string>CAMPAIGN</string>
<string>CAMPAIGNS</string>
<string>CANCASTPERDAY</string>
<string>CARRIED</string>
<string>CAST</string>
<string>CASTAS</string>
<string>CASTERLEVEL</string>
<string>CASTTIME</string>
<string>CATEGORY</string>
<string>CATCHPHRASE</string>
<string>CCSKILL</string>
<string>CCSKILLLIST</string>
<string>CCSKILLMAX</string>
<string>CHA</string>
<string>CHAMAX0</string>
<string>CHAMIN0</string>
<string>CHAMIN1</string>
<string>CHAMIN2</string>
<string>CHAMIN3</string>
<string>CHAMIN4</string>
<string>CHAMIN5</string>
<string>CHANGEPROF</string>
<string>CHARACTERASSET</string>
<string>CHARACTERBIO</string>
<string>CHARACTERCOMP</string>
<string>CHARACTERDESC</string>
<string>CHARACTERMAGIC</string>
<string>CHARACTERNAME</string>
<string>CHARGES</string>
<string>CHASCORE</string>
<string>CHECKMULT</string>
<string>CHECKNAME</string>
<string>CHECKS</string>
<string>CHECKSMAXLVL</string>
<string>CHOICE</string>
<string>CHOOSE</string>
<string>CITY</string>
<string>CL</string>
<string>CLASS</string>
<string>CLASSABILITIESLEVEL</string>
<string>CLASSBOUGHT</string>
<string>CLASSES</string>
<string>CLASSLEVEL</string>
<string>CLASSLIST</string>
<string>CLASSSKILL</string>
<string>CLASSSKILLS</string>
<string>CLASSSPELL</string>
<string>CLASSTYPE</string>
<string>CLEAR</string>
<string>CLOSE</string>
<string>COMBAT</string>
<string>COMPANIONLIST</string>
<string>COMPANIONMOD</string>
<string>COMPS</string>
<string>CON</string>
<string>CONMAX0</string>
<string>CONMIN0</string>
<string>CONMIN1</string>
<string>CONMIN2</string>
<string>CONMIN3</string>
<string>CONMIN4</string>
<string>CONMIN5</string>
<string>CONSCORE</string>
<string>CONTAINS</string>
<string>CONTEXT</string>
<string>COPY</string>
<string>COPYMASTERBAB</string>
<string>COPYMASTERCHECK</string>
<string>COPYMASTERHP</string>
<string>COPYRIGHT</string>
<string>COST</string>
<string>COSTMOD</string>
<string>COSTPRE</string>
<string>COUNT</string>
<string>CR</string>
<string>CRFORMULA</string>
<string>CRITMULT</string>
<string>CRITRANGE</string>
<string>CRITRANGEADD</string>
<string>CRITRANGEDOUBLE</string>
<string>CROSSCLASS</string>
<string>CROSSCLASSSKILLS</string>
<string>CSKILL</string>
<string>CSKILLMAX</string>
<string>CSKILLS</string>
<string>CT</string>
<string>CURRENCYUNIT</string>
<string>CURRENCYUNITABBREV</string>
<string>CURRENTMAX</string>
<string>CUSTOMIZATION</string>
<string>DAMAGE</string>
<string>DAMAGEMULT</string>
<string>DATA</string>
<string>DC</string>
<string>DEF</string>
<string>DEFAULT</string>
<string>DEFAULTUNITSET</string>
<string>DEFENSE</string>
<string>DEFINE</string>
<string>DEITY</string>
<string>DEITYALIGN</string>
<string>DEITYDOMAINS</string>
<string>DEITYFAVWEAP</string>
<string>DEITYWEAP</string>
<string>DEITYWEAPON</string>
<string>DESC</string>
<string>DESCRIPTION</string>
<string>DESCRIPTOR</string>
<string>DEX</string>
<string>DEXMAX0</string>
<string>DEXMIN0</string>
<string>DEXMIN1</string>
<string>DEXMIN2</string>
<string>DEXMIN3</string>
<string>DEXMIN4</string>
<string>DEXMIN5</string>
<string>DEXSCORE</string>
<string>DISPLAY</string>
<string>DISPLAYORDER</string>
<string>DISPLAYLOCATION</string>
<string>DISPLAYVARIABLE1NAME</string>
<string>DISPLAYVARIABLE1TEXT</string>
<string>DISPLAYVARIABLE2NAME</string>
<string>DISPLAYVARIABLE2TEXT</string>
<string>DISPLAYVARIABLE3NAME</string>
<string>DISPLAYVARIABLE3TEXT</string>
<string>DISTANCEFACTOR</string>
<string>DISTANCEPATTERN</string>
<string>DISTANCEUNIT</string>
<string>DOMAIN</string>
<string>DOMAINS</string>
<string>DOWN</string>
<string>DR</string>
<string>DURATION</string>
<string>DURATION</string>
<string>EDITABLE</string>
<string>EDITPOOL</string>
<string>ELSE</string>
<string>ENCUMBERANCE</string>
<string>ENCUMBRANCE</string>
<string>EQ</string>
<string>EQBUILDER</string>
<string>EQM</string>
<string>EQMARMOR</string>
<string>EQMOD</string>
<string>EQMODTYPE</string>
<string>EQMWEAPON</string>
<string>EQSIZEPENALTY</string>
<string>EQSLOT</string>
<string>EQTYPE</string>
<string>EQUIP</string>
<string>EQUIPBUY</string>
<string>EQUIPMENT</string>
<string>EQUIPMOD</string>
<string>EQUIPNAME</string>
<string>EQUIPPED</string>
<string>EQUIPPING</string>
<string>EQUIPSET</string>
<string>ESIZE</string>
<string>EXCHANGELEVEL</string>
<string>EXCLASS</string>
<string>EXCLUDE</string>
<string>EXCLUSIVE</string>
<string>EXOTIC</string>
<string>EXPERIENCE</string>
<string>EXPRESSION</string>
<string>EYECOLOR</string>
<string>EYES</string>
<string>FACE</string>
<string>FAVCLASS</string>
<string>FAVOREDCLASS</string>
<string>FEAT</string>
<string>FEATAUTO</string>
<string>FEATBONUS</string>
<string>FEATLIST</string>
<string>FEATPOOL</string>
<string>FEATS</string>
<string>FEATSELECT</string>
<string>FEATTYPE</string>
<string>FILE</string>
<string>FINESSABLE</string>
<string>FOLLOWER</string>
<string>FOLLOWERS</string>
<string>FOLLOWERADJUSTMENT</string>
<string>FOLLOWERALIGN</string>
<string>FORGET</string>
<string>FORMATCAT</string>
<string>FORTITUDE</string>
<string>FRACTIONALPOOL</string>
<string>FREE</string>
<string>FUMBLERANGE</string>
<string>FUNDS</string>
<string>GAME</string>
<string>GAMEMODE</string>
<string>GEAR</string>
<string>GENDER</string>
<string>GENDERLOCK</string>
<string>GENRE</string>
<string>GOLD</string>
<string>GRAPPLE</string>
<string>GT</string>
<string>GTEQ</string>
<string>HAIR</string>
<string>HAIRCOLOR</string>
<string>HAIRSTYLE</string>
<string>HANDED</string>
<string>HANDS</string>
<string>HASSUBCLASS</string>
<string>HASSUBSTITUTIONLEVEL</string>
<string>HD</string>
<string>HEAD</string>
<string>HEIGHT</string>
<string>HEIGHTFACTOR</string>
<string>HEIGHTPATTERN</string>
<string>HEIGHTUNIT</string>
<string>HEIGHTUNITABBREV</string>
<string>HIDDENEQUIPTYPES</string>
<string>HIDDENFEATTYPES</string>
<string>HIDDENSKILLTYPES</string>
<string>HIDESIZEMOD</string>
<string>HIDETYPE</string>
<string>HITDICE</string>
<string>HITDICEADVANCEMENT</string>
<string>HITDICESIZE</string>
<string>HITDIE</string>
<string>HITPOINTS</string>
<string>HOLYITEM</string>
<string>HP</string>
<string>HPABBREV</string>
<string>HPNAME</string>
<string>HTDIEROLL</string>
<string>ID</string>
<string>IF</string>
<string>IGNORES</string>
<string>INCLUDE</string>
<string>INFOTEXT</string>
<string>INIT</string>
<string>INITCOMP</string>
<string>INITIATIVE</string>
<string>Innate</string>
<string>INSTANT</string>
<string>INT</string>
<string>INTERESTS</string>
<string>INTMAX0</string>
<string>INTMIN0</string>
<string>INTMIN1</string>
<string>INTMIN2</string>
<string>INTMIN3</string>
<string>INTMIN4</string>
<string>INTMIN5</string>
<string>INTSCORE</string>
<string>INTVAL</string>
<string>INVENTORY</string>
<string>IS</string>
<string>ISD20</string>
<string>ISLICENSED</string>
<string>ISMATURE</string>
<string>ISMONSTER</string>
<string>ISOGL</string>
<string>ITEM</string>
<string>ITEMCAPACITY</string>
<string>ITEMCOST</string>
<string>ITEMCREATE</string>
<string>ITEMWEIGHT</string>
<string>ITYPE</string>
<string>KEY</string>
<string>KEYSTAT</string>
<string>KIT</string>
<string>KNOWN</string>
<string>KNOWNSPELLS</string>
<string>KNOWNSPELLSFROMSPECIALTY</string>
<string>LANG</string>
<string>LANGAUTO</string>
<string>LANGBONUS</string>
<string>LANGUAGE</string>
<string>Language</string>
<string>LANGUAGES</string>
<string>LASTCHOICE</string>
<string>LEGS</string>
<string>LEVEL</string>
<string>LEVELABILITY</string>
<string>LEVELADJUSTMENT</string>
<string>LEVELMSG</string>
<string>LEVELSPERFEAT</string>
<string>LICENSE</string>
<string>LIST</string>
<string>LOAD</string>
<string>LOADMULT</string>
<string>LOCATION</string>
<string>LOCK</string>
<string>LONG</string>
<string>LONGNAME</string>
<string>LSTEXCLUDE</string>
<string>LT</string>
<string>LTEQ</string>
<string>LVLRANGE</string>
<string>MAC</string>
<string>Manifester</string>
<string>MANIFESTER</string>
<string>MARTIAL</string>
<string>MASTERBONUSRACE</string>
<string>MAX</string>
<string>MAXAGE</string>
<string>MAXDEX</string>
<string>MAXLEVEL</string>
<string>MAXLEVELSTAT</string>
<string>MEDIUM</string>
<string>MEMORIZE</string>
<string>MENUENTRY</string>
<string>MENUTOOLTIP</string>
<string>METHOD</string>
<string>MFEAT</string>
<string>MIN</string>
<string>MINXP</string>
<string>MISC</string>
<string>MOD</string>
<string>MODS</string>
<string>MODSKILLPOINTS</string>
<string>MODTOSKILLS</string>
<string>MONCSKILL</string>
<string>MONEY</string>
<string>MONNONSKILLHD</string>
<string>MONSKILL</string>
<string>MONSTERCLASS</string>
<string>MOVE</string>
<string>MOVEA</string>
<string>MOVEADD</string>
<string>MOVEBASE</string>
<string>MOVEBONUS</string>
<string>MOVECLONE</string>
<string>MOVEUNIT</string>
<string>MOVEUNITABBREV</string>
<string>MULT</string>
<string>MULTIPLE</string>
<string>MULTIPREREQS</string>
<string>NAME</string>
<string>NAMEISPI</string>
<string>NAMEOPT</string>
<string>NATURALATTACKS</string>
<string>NEGLEVEL</string>
<string>NO</string>
<string>NOCHOICE</string>
<string>NOLIMIT</string>
<string>NOLIST</string>
<string>NONAME</string>
<string>NONCLASSSKILLLIST</string>
<string>NONEXCLUSIVE</string>
<string>NORANK</string>
<string>NOSIGN</string>
<string>NOSTACK</string>
<string>Not</string>
<string>NOTHING</string>
<string>NUMBER</string>
<string>NUMCHOICES</string>
<string>NUMPAGES</string>
<string>NUMSLOTS</string>
<string>OPTION</string>
<string>OTHER</string>
<string>OUTPUTNAME</string>
<string>OUTPUTORDER</string>
<string>PAGEUSAGE</string>
<string>PANTHEON</string>
<string>PARM</string>
<string>PC</string>
<string>PCC</string>
<string>PCGVERSION</string>
<string>PCLEVEL</string>
<string>PERSONALITYTRAIT1</string>
<string>PERSONALITYTRAIT2</string>
<string>PHOBIAS</string>
<string>PLAYERNAME</string>
<string>PLURAL</string>
<string>PLUS</string>
<string>PLUSCOST</string>
<string>POINTS</string>
<string>POOL</string>
<string>POOLPOINTS</string>
<string>POPUPALERT</string>
<string>PORTRAIT</string>
<string>POSTMOVEADD</string>
<string>POWERPOINTS</string>
<string>PRE</string>
<string>PREABILITY</string>
<string>PREAGESET</string>
<string>PREALIGN</string>
<string>PREAPPLY</string>
<string>PREATT</string>
<string>PREBASESIZEEQ</string>
<string>PREBASESIZEGT</string>
<string>PREBASESIZEGTEQ</string>
<string>PREBASESIZELT</string>
<string>PREBASESIZELTEQ</string>
<string>PREBASESIZENEQ</string>
<string>PREBIRTHPLACE</string>
<string>PRECAMPAIGN</string>
<string>PRECHECK</string>
<string>PRECHECKBASE</string>
<string>PRECITY</string>
<string>PRECLASS</string>
<string>PRECLASSLEVELMAX</string>
<string>PRECSKILL</string>
<string>PREDEFAULTMONSTER</string>
<string>PREDEITY</string>
<string>PREDEITYALIGN</string>
<string>PREDEITYDOMAIN</string>
<string>PREDOMAIN</string>
<string>PREDR</string>
<string>PREEQUIP</string>
<string>PREEQUIPBOTH</string>
<string>PREEQUIPPRIMARY</string>
<string>PREEQUIPSECONDARY</string>
<string>PREEQUIPTWOWEAPON</string>
<string>PREFEAT</string>
<string>PREGENDER</string>
<string>PREHANDSEQ</string>
<string>PREHANDSGT</string>
<string>PREHANDSGTEQ</string>
<string>PREHANDSLT</string>
<string>PREHANDSLTEQ</string>
<string>PREHANDSNEQ</string>
<string>PREHD</string>
<string>PREITEM</string>
<string>PRELANG</string>
<string>PRELEGSEQ</string>
<string>PRELEGSGT</string>
<string>PRELEGSGTEQ</string>
<string>PRELEGSLT</string>
<string>PRELEGSLTEQ</string>
<string>PRELEGSNEQ</string>
<string>PRELEVEL</string>
<string>PRELEVELMAX</string>
<string>PREMOVE</string>
<string>PREMULT</string>
<string>PREPCLEVEL</string>
<string>PRERACE</string>
<string>PRERACETYPE</string>
<string>PREREACH</string>
<string>PREREGION</string>
<string>PRERULE</string>
<string>PRESA</string>
<string>PRESIZEEQ</string>
<string>PRESIZEGT</string>
<string>PRESIZEGTEQ</string>
<string>PRESIZELT</string>
<string>PRESIZELTEQ</string>
<string>PRESIZENEQ</string>
<string>PRESKILL</string>
<string>PRESKILLMULT</string>
<string>PRESKILLTOT</string>
<string>PRESPELL</string>
<string>PRESPELLBOOK</string>
<string>PRESPELLCAST</string>
<string>PRESPELLDESCRIPTOR</string>
<string>PRESPELLSCHOOL</string>
<string>PRESPELLSCHOOLSUB</string>
<string>PRESPELLTYPE</string>
<string>PRESTAT</string>
<string>PRESUBCLASS</string>
<string>PRETEMPLATE</string>
<string>PRETEXT</string>
<string>PRETYPE</string>
<string>PREUATT</string>
<string>PREVAREQ</string>
<string>PREVARGT</string>
<string>PREVARGTEQ</string>
<string>PREVARLT</string>
<string>PREVARLTEQ</string>
<string>PREVARNEQ</string>
<string>PREVIEWDIR</string>
<string>PREVIEWSHEET</string>
<string>PREWEAPONPROF</string>
<string>PRIMARY</string>
<string>PROF</string>
<string>PROFICIENCY</string>
<string>PROHIBITCOST</string>
<string>PROHIBITED</string>
<string>PROHIBITSPELL</string>
<string>PROJECTILE</string>
<string>PROMPT</string>
<string>PSIONLEVEL</string>
<string>PUBNAMELONG</string>
<string>PUBNAMESHORT</string>
<string>PUBNAMEWEB</string>
<string>PURCHASEPOINTS</string>
<string>QTY</string>
<string>QUALIFY</string>
<string>QUALITY</string>
<string>QUANTITY</string>
<string>RACE</string>
<string>RACENAME</string>
<string>RACEREACH</string>
<string>RACESUBTYPE</string>
<string>RACETYPE</string>
<string>RACIAL</string>
<string>RANGE</string>
<string>RANGEADD</string>
<string>RANGEMULT</string>
<string>RANGEPENALTY</string>
<string>RANK</string>
<string>RANKS</string>
<string>RATEOFFIRE</string>
<string>REACH</string>
<string>REACHMULT</string>
<string>REFLEX</string>
<string>REGION</string>
<string>REMOVABLE</string>
<string>REMOVE</string>
<string>REP</string>
<string>REPEATLEVEL</string>
<string>REPLACE</string>
<string>REPLACES</string>
<string>REQ</string>
<string>REQUIRED</string>
<string>RESOURCES</string>
<string>RESTICT</string>
<string>ROLLMETHOD</string>
<string>ROOT</string>
<string>SA</string>
<string>SAB</string>
<string>SAVEINFO</string>
<string>SAVES</string>
<string>SCHOOL</string>
<string>SCHOOLS</string>
<string>SCORE</string>
<string>SECONDARY</string>
<string>SECONDARYATTACKS</string>
<string>SELECT</string>
<string>SETTING</string>
<string>SEX</string>
<string>SHIELD</string>
<string>SHIELDACCHECK</string>
<string>SHIELDPROF</string>
<string>SHORTRANGE</string>
<string>SHOWCLASSDEFENSE</string>
<string>SHOWINMENU</string>
<string>SIMPLE</string>
<string>SIZE</string>
<string>Size</string>
<string>SIZEDIFF</string>
<string>SIZEMOD</string>
<string>SIZEMULT</string>
<string>SIZENAME</string>
<string>SKILL</string>
<string>SKILLMULT</string>
<string>SKILLMULTIPLIER</string>
<string>SKILLPOINTS</string>
<string>SKILLPOOL</string>
<string>SKILLRANK</string>
<string>SKILLS</string>
<string>SKILLSNAMED</string>
<string>SKILLSNAMEDTOCCSKILL</string>
<string>SKILLSNAMEDTOCSKILL</string>
<string>SKINCOLOR</string>
<string>SKINTONE</string>
<string>SLOTS</string>
<string>SOURCE</string>
<string>SOURCEDATE</string>
<string>SOURCELONG</string>
<string>SOURCEPAGE</string>
<string>SOURCESHORT</string>
<string>SOURCEWEB</string>
<string>SPECIAL</string>
<string>SPECIALS</string>
<string>SPECIALTYKNOWN</string>
<string>SPEECHPATTERN</string>
<string>SPELL</string>
<string>SPELLBASE</string>
<string>SPELLBASEDC</string>
<string>SPELLBASESTAT</string>
<string>SPELLBOOK</string>
<string>SPELLCAST</string>
<string>SPELLCASTER</string>
<string>SPELLCASTKNOWN</string>
<string>SPELLCASTMULT</string>
<string>SPELLCLASSES</string>
<string>SPELLCOST</string>
<string>SPELLFAILURE</string>
<string>SPELLKNOWN</string>
<string>SPELLLEVEL</string>
<string>SPELLLIST</string>
<string>SPELLNAME</string>
<string>SPELLRANGE</string>
<string>SPELLRES</string>
<string>SPELLS</string>
<string>SPELLSTAT</string>
<string>SPELLTYPE</string>
<string>SPROP</string>
<string>SQUARESIZE</string>
<string>SR</string>
<string>STACK</string>
<string>STARTFEATS</string>
<string>STARTPACK</string>
<string>STARTSKILLPTS</string>
<string>STAT</string>
<string>STATMOD</string>
<string>STATNAME</string>
<string>STATRANGE</string>
<string>STR</string>
<string>STRING</string>
<string>STRMAX0</string>
<string>STRMAXDEX</string>
<string>STRMIN0</string>
<string>STRMIN1</string>
<string>STRMIN2</string>
<string>STRMIN3</string>
<string>STRMIN4</string>
<string>STRMIN5</string>
<string>STRSCORE</string>
<string>SUBCLASS</string>
<string>SUBCLASSLEVEL</string>
<string>SUBRACE</string>
<string>SUBREGION</string>
<string>SUBSCHOOL</string>
<string>SUBSTITUTIONCLASS</string>
<string>SUBSTITUTIONCLASSLEVEL</string>
<string>SUBSTITUTIONLEVEL</string>
<string>SUMMARY</string>
<string>SWITCH</string>
<string>SWITCHRACE</string>
<string>SYMBOL</string>
<string>SYNERGY</string>
<string>TAB</string>
<string>TABLABEL</string>
<string>TABNAME</string>
<string>TARGETAREA</string>
<string>TEMPDESC</string>
<string>TEMPLATE</string>
<string>TEMPMOD</string>
<string>THEN</string>
<string>THROWN</string>
<string>TIMES</string>
<string>TITLE</string>
<string>TL</string>
<string>TOHIT</string>
<string>TORSO</string>
<string>TOTALPOWERPOINTS</string>
<string>TOTALWT</string>
<string>TRUNC</string>
<string>TYPE</string>
<string>UAB</string>
<string>UATT</string>
<string>UDAM</string>
<string>UMULT</string>
<string>UNIQUE</string>
<string>UNITSET</string>
<string>UP</string>
<string>UNENCUMBEREDMOVE</string>
<string>USEMASTERSKILL</string>
<string>USEUNTRAINED</string>
<string>VALIDFORDEITY</string>
<string>VALIDFORFOLLOWER</string>
<string>VAR</string>
<string>VARIANTS</string>
<string>VERSION</string>
<string>VFEAT</string>
<string>VIRTUAL</string>
<string>VISIBLE</string>
<string>VISION</string>
<string>WALK</string>
<string>WCSTEPSFORMULA</string>
<string>WEAPON</string>
<string>WEAPONAUTO</string>
<string>WEAPONBONUS</string>
<string>WEAPONBONUS</string>
<string>WEAPONCATEGORY</string>
<string>WEAPONFOCUS</string>
<string>WEAPONNONPROFPENALTY</string>
<string>WEAPONPROF</string>
<string>WEAPONPROFS</string>
<string>WEAPONREACH</string>
<string>WEAPONTYPE</string>
<string>WEIGHT</string>
<string>WEIGHTADD</string>
<string>WEIGHTDIV</string>
<string>WEIGHTFACTOR</string>
<string>WEIGHTPATTERN</string>
<string>WEIGHTUNIT</string>
<string>WIELD</string>
<string>WIELDCATEGORY</string>
<string>WILL</string>
<string>WIS</string>
<string>WISMAX0</string>
<string>WISMIN0</string>
<string>WISMIN1</string>
<string>WISMIN2</string>
<string>WISMIN3</string>
<string>WISMIN4</string>
<string>WISMIN5</string>
<string>WISSCORE</string>
<string>WORSHIPPERS</string>
<string>WOUNDPOINTS</string>
<string>WSize</string>
<string>WT</string>
<string>WTDIEROLL</string>
<string>XPCOST</string>
<string>XPPENALTY</string>
<string>XTRAFEATS</string>
<string>XTRASKILLPTSPERLVL</string>
<string>YES</string>
<string>ZERO</string>
</array>
<key>BBLMLanguageCode</key>
<string>PCGn</string>
<key>BBLMLanguageDisplayName</key>
<string>PCGen LST</string>
<key>BBLMScansFunctions</key> <true/>
<key>BBLMSuffixMap</key>
<array>
<dict> <key>BBLMLanguageSuffix</key>
<string>.lst</string>
</dict>
</array>
<key>Language Features</key>
<dict>
<key>Close Block Comments</key>
<string></string>
<key>Close Parameter Lists</key>
<string></string>
<key>Close Statement Blocks</key>
<string></string>
<key>Close Strings 1</key>
<string></string>
<key>Close Strings 2</key>
<string></string>
<key>End-of-line Ends Strings 1</key> <true/>
<key>End-of-line Ends Strings 2</key> <true/>
<key>Escape Char in Strings 1</key>
<string></string>
<key>Escape Char in Strings 2</key>
<string></string>
<key>Identifier and Keyword Characters</key>
<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
<key>Open Block Comments</key>
<string></string>
<key>Open Line Comments</key>
<string>#</string>
<key>Open Parameter Lists</key>
<string></string>
<key>Open Statement Blocks</key>
<string></string>
<key>Open Strings 1</key>
<string></string>
<key>Open Strings 2</key>
<string></string>
<key>Prefix for Functions</key>
<string></string>
<key>Prefix for Procedures</key>
<string></string>
<key>Terminator for Prototypes 1</key>
<string></string>
<key>Terminator for Prototypes 2</key>
<string></string>
</dict>
</dict>
</plist>